<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">
                Lista de películas ({{listFilms.length}})
            </h2>
        </div>
    </div>
    <div class="row">

        <!-- Columna principal -->
        <div class="col-md-9">
            <div class="centered columnaFichas">
                <div class="fichaContainer" ng-repeat="film in listFilms">
                    <a ui-sref="filmDetails({filmId: film.id})">
                        <div class="ficha">
                           <img class="img-responsive"
                                 src="http://cdn1.pordede.com/content/covers/mediathumb-24787-4.png"/>
                        </div>
                        <span>{{film.title}}</span>
                    </a>
                </div>
            </div>
            <!-- Pager -->
            <div class="paginador">
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Anterior</a>
                    </li>
                    <li class="next">
                        <a href="#">Siguiente &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-3 fixedDiv">

            <!-- Buscador -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Botón para añadir una nueva ficha -->
            <!--
            <div class="well centered">
                <button class="btn btn-default btn-lg">Añadir nueva película</button>

            </div>
            -->
            <div class="well centered">
                    <a ui-sref="createFilm" class="btn btn-primary">Añadir nueva película</a>
            </div>
            <!-- Espacio para el filtro -->
            <div class="well">


            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
